@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

.disclaimer {
  padding: 20px;
  text-align: center;
  background: #FF0033;
  color: black;
  font-size: 24px;
}

body {
  font-family: 'Exo 2', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  /*color: var(--color-white);*/
  margin: auto;
  width: 95%;
  background: url(https://wallpaperaccess.com/full/1863165.jpg);
}

#survey-form {
  margin: auto;
  padding: 20px;
  width: 75%;
  background-color: white;
  text-align: center;
}

#title {
  text-align: center;
}

label {
  display: flex;
  align-items: center;
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
  margin-left: 2.5rem;
}

input,
button,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

/*
input[required] + label:after {
  content:"*";
  font-size: 2.1em;
  position: relative;
  top: 6px;
  display: inline-flex;
  margin-left: .2ch;
  transition: color, 1s;
}

input[required]:invalid + label:after {
  color: red;
}

input[required]:valid + label:after {
  color: green;
}
*/

.input-radio,
.input-checkbox {
  display: inline-block;
  margin-right: 0.625rem;
  min-height: 1.25rem;
  min-width: 1.25rem;
}

.input-textarea {
  min-height: 100px;
  width: 90%;
  padding: 0.625rem;
  resize: vertical;
}

.submit-button {
  align-items: center;
  display: center;
  width: 90%;
  padding: 0.625rem;
  background-color: #86ff6b;
  cursor: pointer;
}

.form-group {
  margin: 0 auto 1.25rem auto;
  padding: 0.25rem;
}

.form-control {
  display: center;
  width: 90%;
  height: 2.375rem;
  margin-right: 0.625rem;
  min-height: 1.25rem;
  min-width: 1.25rem;
  padding: 0.375rem 0.75rem;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#description {
  margin: auto;
  width: 90%;
}

.request {
  margin: auto;
  margin-bottom: 20px;
  width: 90%;
}

legend {
  text-align: center;
  font-size: 1.5em;
  font-weight: 600;
}

.please {
  padding: 20px;
}

.accept {
  display: inline;
  vertical-align: middle;
}

.submit-button {
  background: linear-gradient(45deg, #58ff05, #05bcff);
  border-radius: 25px;
  font-weight: 600;
}

.submit-button:hover {
  box-shadow: 5px 5px 25px 11px #58ff05;
}