.disclaimer {
	padding: 20px;
	text-align: center;
	background: #FF0033;
	color: black;
	font-size: 24px;
}

h1 {
    background-color: #CCCCCC;
    font-family: 'Rubik', sans-serif;
}

body {
    background-color: #CCCCCC;
    font-family: 'Rubik', sans-serif;
}
#left { text-align: left; }
#right { text-align: right; }
#center { text-align: center; }

table {
	border: 4px double #333; /*Рамка вокруг таблицы*/
	border-collapse: separate; /*Способ отображения границы*/
	width: 100%; /*Ширина таблицы*/
}
td {
	padding: 5px; /*Поля вокруг текста*/
	border: 1px solid #a52a2a; /*Граница вокруг ячеек*/
}

<span class="material-icons-outlined">
done
</span>

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }