.disclaimer {
	background-color: red;
	border: 4px double black; /* Параметры границы */
}

body {
	margin: auto; /*Контент выровнен по середине.*/
	width: 70%; /*Контент занимает 70% ширины страницы.*/
}


h1, h2, h3, h4, h5, h6 {
	font-family: Geneva, Arial, Helvetica, sans-serif; /*Заголовки всех уровней выполнены шрифтом без засечек.*/
	margin-top: 1.5em; /*Верхний отступ заголовков установлен больше нижнего (например, 1.5em), чтобы соблюсти правило внутреннего и внешнего.*/
}
h1 {
	font-size: 32px;/*Заголовки первого уровня имеют размер 32px.*/
}

table, th, td{
	border: 1px solid black; /*Таблицы имеют непрерывные границы чёрного цвета толщиной 1px.*/

}

figcaption {
	margin-top: 0;
	font-style: italic; /*Подписи под картинками выполены курсивом.*/
}
figure {
	float: right; /* Картинки обтекаются текстом. Картинки справа, текст слева. */ 
}

.clear {
	clear: right;
	float: right /* Отмена обтекания */
}